body {
background-color: #D2B48C;
color: black;
font-family: verdana;
front-size: 20px; 
}
table {border-collapse: collapse;
       border: 6px solid #FFFFFF;
      
       border-spacing: 5px;
       width : 80%
         
}
 th, td { 
     padding: 5px ;
    border: 1px solid #FFFFFF;
     vertical-align: middle;
      border-bottom: 1px solid #CCCCCC;
}

th {
    text-align: middle;
    height: 100px
    padding: 5px;
}
td {
    text-align: left;
    padding: 8px;
    
}

td{
    background-color: #F08080;
    color: #FFFFFF;
}

th{
    background-color: #FFFF99;
    color: #696969;
}
tr :hover{background-color: #CCCCCC;}
tr:nth-child(even) {background-color: #F2F2F2}
update, delete{
    color: #696969;
    
}


h1 
{ front-size: 30px;}
form {
    width: 30%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form {
    width: 30%;
    background-color: blueviolet;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form{input[type=submit]:hover {
    background-color: #45a049;
}
}
