body {
background-color: LightSalmon;
color: black;
font-family: verdana;
front-size: 20px; 
}
table {border-collapse: collapse}
table, th, td { border: 1px solid black;}

.right {text-align: right;}
.add td {border:none; height:25px; padding: 10px; font-weight: bold;}
.update td {border:none; height:25px; padding: 10px; font-weight: bold;}

h1 
{ front-size: 30px;}

